[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
Flask-CSV="*"
Flask-Ext="*"
flask = "*"
mysql-connector = "*"
mysql-connector-python = "*"
numpy = "*"
pandas = "*"
requests = "*"
PyMySQL = "*"
pyexcel="*"
pyexcel-io="*"
Flask-Cors ="*"
pymongo ="*"
urllib3 ="*"
bson ="*"
plotly ="*"

[dev-packages]

[requires]
python_version = "3.7.6"
